:root {
    --text-color: #EDF1D6; /*#E1DCDC;*/
    --background-color: #40513B; /*#313131;*/
    --darkest-color: #40513B; /*#1E2323*/
    --really-epic-color: #609966;
    --hover-color: #9DC08B;

    --gold: rgb(255, 204, 0);
}