@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
    font-family: 'Heebo', 'Roboto', sans-serif;
    color: var(--text-color);
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--background-color); /*(useless)*/
    margin: 0;

    overflow: hidden;
}


#folderView {
    position: fixed;
    z-index: 100;
    width: 0vw;
    height: 100vh;
    
    border-right: 1vh var(--text-color) solid;

    overflow: hidden;

    transition: width 400ms;
    background-color: #609966;
}

#innerFolderView {
    padding-left: 2vh;
}

#pageView {
    position: fixed;
    width: calc(100vw - 1vh + 1px);
    left: calc(1vh - 1px);
    height: 100vh;

    border: none;
}

#expandFolderViewButton {
    position: fixed;
    left: 0;

    padding: 0;
    padding-left: 1vh;
    padding-right: 1vh;

    top: 1vh;
    z-index: 101;

    font-size: 2vh;

    transition: left 400ms;

    background-color: var(--text-color);
    border: 0;
    width: 5vh;
    height: 2.5vh;
    overflow: hidden;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;

    transition: width cubic-bezier(0,1,1,1) 500ms, left 400ms;

    line-height: 0;
    margin: 0;
}

#expandFolderViewButton:hover {
    width: 7vh;
    background-color: var(--hover-color);
}

/*

div.debug1 {
    position: fixed;
    top: 50vh;
    width: 100vw;
    height: 1px;
    background-color: red;
}

div.debug2 {
    position: fixed;
    left: 50vw;
    height: 100vh;
    width: 1px;
    background-color: red;
}

*/