html {
    overflow-x: hidden;
}

div.title {
    font-size: 10vh;
    text-align: center;
}

div.page-top-spacer {
    height: 0.6vh;
}

div.page-horizontal-line {
    width: 100vw;
    height: 1vh;
    margin-top: 1vh;
    background-color: var(--text-color);
}

/*

@media (max-aspect-ratio: 1/1) { /* on vertically oriented devices */
/*    div.title {

    }
}

@media (min-aspect-ratio: 1/1) { /* on horizontally oriented devices */
/*    div.title {

    }
}

*/

@media (min-aspect-ratio: 21/9) { /* ULTRAWIDE */
    div.title {
        text-align: center;
    }
}